spring:
  datasource:
    url: jdbc:oracle:thin:@oracle-db:1521/FREEPDB1
    username: esg_user
    password: esg123
    driver-class-name: oracle.jdbc.OracleDriver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
  flyway:
    enabled: true
    locations: classpath:db/migration
    connect-retries: 60
server:
  port: 8080
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

